body {
  background-color:#99CC00;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

#titleBanner {
	position: absolute;
	left: 0.1%;
	height: 11%;
	width: 97%;
	text-align: center;
	border: solid black;
	padding: 5px;
	margin: 1%;
	border-radius: 20px;
	background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

h1 {
	font-family: "Papyrus", fantasy;
}

h3 {
	font-weight: bold;
	font-size: 1.5em;
	padding: 2px;
	text-align: center;
}

#instructions {
	position: absolute;
	top: 18%;
	left: 1%;
	text-align: left;
	padding: 10px;
	margin: auto;
	float: right;
	height: 77%;
	width: 20%;
	color: #FFFFFF;
	background-color: #432E43;
	border-radius: 15px;
	opacity: 0.5;
}

#instructions:hover {
	opacity: 1.0;
}

canvas {
	position: absolute;
	top: 18%; 
	left: 24.75%;
	width:50%;
	height:77%;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	background-color:white;
	border:8px groove black;
	display: block;
}

#pointvalue {
	position: absolute;
	top: 18%;
	right: 1%;
	text-align: left;
	padding: 10px;
	margin: auto;
	float: right;
	height: 77%;
	width: 20%;
	background-color: #32A1B5;
	border-radius: 15px;
	opacity: 0.5;
}

#pointvalue:hover {
	opacity: 1.0;
}

#tom {
	margin-left: 15%;
	height: 25%;
	width: 25%;
}


#closingBanner {
	position: absolute;
	top: 99%;
	left: 1%;
	width: 97.5%;
	text-align: center;
	padding: 5px;
	border: solid black;
	margin-top: 10px;
	background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
	border-radius: 20px;
}