html { 
	background-color:#D2B48C; /*#99CC00 #0099FF*/
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

body {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

#mainContent {
	position: absolute;
	overflow: auto;
	top: 25%; 
	left: 21%;
	right: 25%;
	width: 58%;
	height:100%;
}

#titleBanner {
	position: absolute;
	color: white;
	text-shadow: 8px 6px 4px black;
	font-family: "Papyrus", fantasy;
	top: 0px;
	left: 0px;
	right: 0px;
	font-size: 3.6em;
	padding: 0.5%;
	font-weight: bold;
	height: 21%;
	width: auto;
	margin: 5px;
	text-align: center;
	opacity: 0.4;
	background: linear-gradient(to left, #660033,#990033,#FF6600,#336600,#99CC00);
}

#banner {
	position: absolute;
	top:2.5%;
	left:14%;
	height:20%;
	width:75%;
	opacity: 1.0;
}

h3 {
	text-shadow: 6px 4px 2px black;
	font-weight: bold;
	font-size: 1.2em;
	padding: 2px;
	margin-bottom: 2%;
	margin-top: 10px;
	text-align: center;
}

#instructions {
	position: absolute;
	overflow: auto;
	top: 25%;
	left: 1%;
	text-align: left;
	padding: 10px;
	height: 95%;
	width: 18%;
	color: #FFFFFF;
	border-radius: 15px;
	opacity: 0.5;
	border: solid #5E5E5E;
	background: linear-gradient(to bottom, #432E43, #432EAA, #43AAAA, #4AAAAA, #AAAAAA);
}

#instructions:hover {
	opacity: 1.0;
	border: solid black;
}

.textImg{
	height: 6%;
	width: 6%;
}

.textImg2 {
	height: 8%;
	width: 8%;
}

#gameCanvas {
	position: relative;
	width: 725px;
	height: 530px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0%;
	background-color: white;
	border: 4px solid black;
	box-shadow: 10px 10px 6px #737373;
	display: block;
}

#scoreCanvas {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.5%;
	width: 725px;
	height: 75px;
	background-color: white;
	border: 4px solid black;
	box-shadow: 10px 10px 6px #737373;
	display: block;
}

#pointvalue {
	position: absolute;
	color: white;
	overflow: auto;
	top: 25%;
	right: 1%;
	text-align: left;
	padding: 10px;
	float: right;
	height: 95%;
	width: 18%;
	background-color: #990033;
	border-radius: 15px;
	opacity: 0.5;
	border: solid #5E5E5E;
}

#pointTable {
	margin-left: auto; /* these two line center the table in the midle of the div */
    margin-right: auto;
    width: 100%;
	padding: 10px;
	border: 8px solid #009966; /* solid blue border 10px in width */
    border-collapse: collapse;
	border-radius: 15px;
}

#pointTable td {
	border: 2px solid #336600;
    border-collapse: collapse;
    padding: 5px; 
    text-align: center;
}

#pointTable th {
	border: 2px solid #009966;
    border-collapse: collapse;
    padding-bottom: 10px;
    padding: 5px;
    font-weight: bold;
    background-color: #CC3D6D;
    text-align: center;
}

#pointvalue:hover {
	opacity: 1.0;
	border:solid black;
	background-color: #009966;

}

#pointvalue:hover #pointTable {
	/*background-color: #32A1B5;*/
	border: 8px solid #990033;
}

#pointvalue:hover th {
	border: 2px solid #990033;
	background-color: #3DCC9C;
}

#pointvalue:hover td {
	border: 2px solid #990033;
}

.tablePic {
	height: 12.5%;
	width: auto;
}

.tablePic2 {
	height: 10.5%;
	width: 30%
}


#closingBanner {
	position: absolute;
	top: 90%;
	height: 50px;
	right: 1%;
	left: 1%;
	padding: 1%;
	color: white;
	text-shadow: 8px 6px 4px black;
	font-family: "Papyrus", fantasy;
	text-align: center;
	height: 6%;
	opacity: 0.6;
	width: auto;
	background: linear-gradient(to right, #660033,#990033,#FF6600,#336600,#99CC00);
}

#closingBanner:hover {
	background: linear-gradient(to left, #660033,#990033,#FF6600,#336600,#99CC00);
}