body {
  background-color:#DEE34F; /*used in the past: #99CC00, #75A0F0*/
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

#mainContent {
	position: absolute;
	overflow: auto;
	top: 18%; 
	left: 25%;
	right: 25%;
	width:50%;
	height:93%;
}

#titleBanner {
	position: absolute;
	font-family: "Papyrus", fantasy;
	font-size: 4.0em;
	padding: 2px;
	font-weight: bold;
	height: 11%;
	width: 97%;
	text-align: center;
	border: solid black;
	margin: 1%;
	border-radius: 20px;
	background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}


h3 {
	font-weight: bold;
	font-size: 1.5em;
	padding: 2px;
	text-align: center;
}

#instructions {
	position: absolute;
	top: 18%;
	left: 1%;
	text-align: left;
	padding: 10px;
	margin: auto;
	height: 89%;
	width: 20%;
	color: #FFFFFF;
	background-color: #432E43;
	border-radius: 15px;
	opacity: 0.5;
	border: solid #5E5E5E;
}

#instructions:hover {
	opacity: 1.0;
	border: solid black;
}


#gameCanvas {
	position: relative;
	width:725px;
	height:530px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	background-color: white;
	border:8px groove black;
	display: block;
}


#scoreCanvas {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	margin-bottom: 5%;
	width:725px;
	height:75px;
	background-color: white;
	border:8px groove black;
	display: block;
}

#pointvalue {
	position: absolute;
	top: 18%;
	right: 1%;
	text-align: left;
	padding: 10px;
	margin: auto;
	float: right;
	height: 89%;
	width: 20%;
	background-color: #B54632;
	border-radius: 15px;
	opacity: 0.5;
	border: solid #5E5E5E;
}

#pointTable {
	/*background-color: #B54632; */
	margin-left: auto; /* these two line center the table in the midle of the div */
    margin-right: auto;
    width: 100%;
	padding: 10px;
	border: 8px solid #32A1B5; /* solid blue border 10px in width */
    border-collapse: collapse;
	border-radius: 15px;
}

#pointTable td {
	border: 2px solid #32A1B5;
    border-collapse: collapse;
    padding: 5px; 
    text-align: center;
}

#pointTable th {
	border: 2px solid #32A1B5;
    border-collapse: collapse;
    padding-bottom: 10px;
    padding: 5px;
    font-weight: bold;
    background-color: #E68C7C;
    text-align: center;
}

#pointvalue:hover {
	opacity: 1.0;
	border:solid black;
	background-color: #32A1B5;

}

#pointvalue:hover #pointTable {
	/*background-color: #32A1B5;*/
	border: 8px solid #B54632;
}

#pointvalue:hover th {
	border: 2px solid #B54632;
	background-color: #7CD6E6;
}

#pointvalue:hover td {
	border: 2px solid #B54632;
}

#tom {
	height: 25%;
	width: 25%;
}

#egg {
	height: 25%;
	width: 25%;
}

#closingBanner {
	position: relative;
	margin-top: 13%;
	left: 0px;
	right: 0px;
	text-align: center;
	width: auto;
	border: solid black;
	background: linear-gradient(to left, red, orange, yellow, green, blue, indigo, violet);
	border-radius: 20px;
}

#closingBanner:hover {
	background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}